body {
  margin: 0;
  background: #d4edda;
  font-family: 'Arial', sans-serif;
  display: flex;
  min-height: 100vh; /* Ensure body takes up full viewport height */
  align-items: center; /* Vertically center content */
}

/* Sidebar styles */
.sidebar {
  width: 320px; /* Increased width */
  background-color: #343a40;
  color: white;
  padding: 25px; /* Increased padding */
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 0 12px rgba(0, 0, 0, 0.1);
  font-size: 1.45em;
}

.test {
  margin-top: 70px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 20px 0; /* Increased padding */
  border-bottom: 1px solid #444;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar li i {
  margin-right: 15px; /* Larger icons */
  font-size: 1.2em;
}

.content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
}

.card {
  width: 90%;
  max-width: 1000px;
  margin-bottom: 30px;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
  background: #70e576;
  color: white;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-info {
  display: flex;
  gap: 25px;
  align-items: center;
}

.avatar {
  width: 120px;
  height: 120px;
  border: 4px solid #4CAF50;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar i {
  font-size: 200px;
}

.user-details h2 {
  margin: 0;
  font-size: 24px;
}

.user-details p {
  margin: 5px 0;
  font-size: 18px;
  opacity: 0.8;
}

.success {
  background: #e7f9f0;
  color: #00c853;
}

.pending {
  background: #fff8e1;
  color: #ffa000;
}

.default {
  background: #e3f2fd;
  color: #1976d2;
}

.unpaid {
  background: #ffebee;
  color: #d32f2f;
}

.payment-info {
  text-align: right;
}

.card-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  padding: 30px;
}

.transaction-item, .payment-method, .payment-due {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  border-bottom: 1px solid #eee;
  font-size: 18px;
}

.badge {
  padding: 8px 15px;
  border-radius: 15px;
  font-size: 14px;
  margin-left: auto;
}

h3 {
  margin: 15px 0;
  font-size: 20px;
  color: #333;
}

i {
  color: #666;
  font-size: 1.2em;
}

.header i {
  color: white;
  font-size: 1.5em;
}
