<body>
  <div class="container">
    <!-- Sidebar -->
    <div class="sidebar">
      <div class="test">
        <ul>
          <li>
            <a routerLink="/dashboard" style="color: white; text-decoration: none"><i class="fas fa-tachometer-alt"
                style="color: white"></i>
              Dashboard</a>
          </li>
          <li>
            <a routerLink="/cart" style="color: white; text-decoration: none"><i class="fas fa-credit-card"
                style="color: white"></i> Bank
              Card</a>
          </li>
          <li>
            <a routerLink="/facture" style="color: white; text-decoration: none"><i class="fas fa-file-invoice"
                style="color: white"></i>
              Factures</a>
          </li>
          <li>
            <a routerLink="/virement" style="color: white; text-decoration: none"><i class="fas fa-chart-bar"
                style="color: white"></i>
              Virement</a>
          </li>
          <li>
            <a routerLink="/recharge" style="color: white; text-decoration: none"><i class="fas fa-bookmark"
                style="color: white"></i>
              Recharge</a>
          </li>
          <li style="background-color: #3e8e41">
            <a routerLink="/creancier" style="color: white; text-decoration: none"><i class="fas fa-cog"
                style="color: white"></i> Creancier</a>
          </li>
          <li><i class="fas fa-user" style="color: white"></i> Profile</li>
          <li><i class="fas fa-sign-out-alt" style="color: white"></i> Logout</li>
        </ul>
      </div>
    </div>

    <!-- Main Content -->
    <div class="payment-container">
      <h1>Paiement de facture</h1>
      <div class="tabs">
        <button class="tab active">Liste des créanciers</button>
        <button class="tab">Historique</button>
      </div>
      <div class="filter-container">
        <select (change)="onFilterChange($event)">
          <option value="all">Toutes les catégories</option>
          <option value="taxes">Impôts, Taxes et Frais Portuaires</option>
          <option value="electricity_water">Eau et Électricité</option>
          <option value="internet_purchases">Achats Internet</option>
        </select>
      </div>
      <div class="creditor-grid">
        <div class="creditor-card" *ngFor="let creditor of filteredCreditors" [routerLink]="'/facture'"
          style="cursor: pointer;">
          <img [src]="creditor.image" [alt]="creditor.name" />
          <h3>{{ creditor.name }}</h3>
          <p>{{ creditor.description }}</p>
        </div>
      </div>
    </div>
  </div>
</body>