<div class="admin-container" style="  font-family: 'Arial', sans-serif;">
  <div class="sidebar">
    <div class="test">
      <ul>
        <li style="background-color: #3e8e41;">
          <a routerLink="/dashboard" style="color: white; text-decoration: none">
            <i class="fas fa-tachometer-alt" style="color: white"></i> Dashboard
          </a>
        </li>
        <li>
          <a routerLink="/cart" style="color: white; text-decoration: none">
            <i class="fas fa-credit-card" style="color: white"></i> Bank Card
          </a>
        </li>
        <li>
          <a routerLink="/facture" style="color: white; text-decoration: none">
            <i class="fas fa-file-invoice" style="color: white"></i> Factures
          </a>
        </li>
        <li>
          <a routerLink="/currency" style="color: white; text-decoration: none">
            <i class="fas fa-coins"></i> Converter
          </a>
        </li>
        <li><i class="fas fa-chart-bar" style="color: white"></i> Analytics</li>
        <li><i class="fas fa-bookmark" style="color: white"></i> Bookmarks</li>
        <li><i class="fas fa-cog" style="color: white"></i> Settings</li>
        <li><i class="fas fa-user" style="color: white"></i> Profile</li>
        <li class="nav-item">
          <button class="nav-link" (click)="logout()">
            <i class="fas fa-sign-out-alt" style="color: white"></i> Logout
          </button>
        </li>
      </ul>
    </div>
  </div>

  <div class="main-content">
    <h1 class="title">User Management</h1>
    <div style="display: flex; ">
      <button class="add-button" (click)="goToCreateAgent()" style="margin-right: 10px;">+ Add New User</button>
      <button class="add-button" (click)="goToClients()" style="background-color: #2d8cf0; margin-left: 10px;">Consulter les clients</button>
    </div>
    <table class="user-table">
      <thead>
      <tr>
        <th>#</th>
        <th>Photo</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Role</th>
        <th>Num CIN</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let agent of agents; let i = index trackBy: trackByAgentId">
        <td>{{ i + 1 }}</td>
        <td>
          <img  alt="{{ agent.firstname }}" class="user-photo" />
        </td>
        <td>{{ agent.firstname }} {{ agent.lastname }}</td>
        <td>{{ agent.email }}</td>
        <td>{{ agent.phonenumber }}</td>
        <td>{{ agent.role }}</td>
        <td>{{agent.numCin}}</td>
        <td>
          <button class="edit-button" (click)="editAgent(agent)">Edit</button>
          <button class="delete-button" (click)="deleteAgent(agent.id)">Delete</button>
        </td>
      </tr>
    </table>
  </div>
</div>
<!-- Modal pour la création d'agent -->
<div class="modal-overlay" *ngIf="isCreateAgentModalOpen">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Entrer Les Informations Agents</h2>
      <button class="close-btn" (click)="closeCreateAgentModal()">×</button>
    </div>
    <div class="modal-body">
      <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="form-container">
        <div class="form-right">
          <!-- Ligne Nom et Prénom -->
          <div class="form-row">
            <div class="form-group">
              <label for="nom">Nom</label>
              <input type="text" id="nom" [(ngModel)]="formData.lastname" name="lastname" required>
            </div>
            <div class="form-group">
              <label for="prenom">Prénom</label>
              <input type="text" id="prenom" [(ngModel)]="formData.firstname" name="firstname" required>
            </div>
          </div>

          <!-- Ligne Pièce d'identité et Adresse -->
          <div class="form-row">
            <div class="form-group">
              <label for="piece_identite">N° Pièce d'identité</label>
              <input type="text" id="piece_identite" [(ngModel)]="formData.numCin" name="numCin" required>
            </div>
            <div class="form-group">
              <label for="address">Adresse</label>
              <input type="text" id="address" [(ngModel)]="formData.address" name="address" required>
            </div>
          </div>

          <!-- Date de naissance -->
          <div class="form-group">
            <label for="date_naissance">Date de naissance</label>
            <input type="date" id="date_naissance" [(ngModel)]="formData.birthdate" name="birthdate" required>
          </div>

          <!-- Ligne Email et Confirmation Email -->
          <div class="form-row">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" [(ngModel)]="formData.email" name="email" required>
            </div>
            <div class="form-group">
              <label for="confirm_email">Confirmation Email</label>
              <input type="email" id="confirm_email" [(ngModel)]="formData.emailConfirmation" name="emailConfirmation" required>
            </div>
          </div>

          <!-- Numéro de téléphone -->
          <div class="form-group">
            <label for="telephone">Numéro de téléphone</label>
            <input type="tel" id="telephone" [(ngModel)]="formData.phonenumber" name="phonenumber" required>
          </div>

          <!-- Ligne Immatriculation et Patente -->
          <div class="form-row">
            <div class="form-group">
              <label for="immatriculation">N° d'immatriculation</label>
              <input type="text" id="immatriculation" [(ngModel)]="formData.numLicence" name="numLicence">
            </div>
            <div class="form-group">
              <label for="patente">N° de patente</label>
              <input type="text" id="patente" [(ngModel)]="formData.numRegCom" name="numRegCom">
            </div>
          </div>

          <!-- Pièces justificatives -->
          <div class="form-group">
            <label for="cinRecto">Recto de la CIN</label>
            <input type="file" id="cinRecto" (change)="onFileSelected($event, 'cinRecto')" required>
          </div>
          <div class="form-group">
            <label for="cinVerso">Verso de la CIN</label>
            <input type="file" id="cinVerso" (change)="onFileSelected($event, 'cinVerso')" required>
          </div>

          <!-- Description -->
          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" [(ngModel)]="formData.description" name="description" required></textarea>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" class="submit-btn" [disabled]="isLoading" (click)="onSubmit(form)"> <ng-container *ngIf="!isLoading; else loading">
        Enregister
      </ng-container>
        <ng-template #loading>
          <div class="spinner"></div>
        </ng-template></button>
      <button class="cancel-btn" (click)="closeCreateAgentModal()">Annuler</button>
    </div>
  </div>
</div>

<!-- Modal for editing agent -->
<div *ngIf="selectedAgent" class="modal-overlay">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Modifier les informations de l'agent</h2>
      <button class="close-btn" (click)="cancelEdit()">×</button>
    </div>
    <div class="modal-body">
      <form #editForm="ngForm" (ngSubmit)="saveAgent(editForm)" class="form-container">
        <div class="form-right">
          <!-- Ligne Nom et Prénom -->
          <div class="form-row">
            <div class="form-group">
              <label for="nom">Nom</label>
              <input
                type="text"
                id="nomU"
                [(ngModel)]="selectedAgent.lastname"
                name="lastname"
                required
              />
            </div>
            <div class="form-group">
              <label for="prenom">Prénom</label>
              <input
                type="text"
                id="prenomU"
                [(ngModel)]="selectedAgent.firstname"
                name="firstname"
                required
              />
            </div>
          </div>

          <!-- Email -->
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="emailU"
              [(ngModel)]="selectedAgent.email"
              name="email"
              required
            />
          </div>

          <!-- Numéro de téléphone -->
          <div class="form-group">
            <label for="telephone">Numéro de téléphone</label>
            <input
              type="tel"
              id="telephoneU"
              [(ngModel)]="selectedAgent.phonenumber"
              name="phonenumber"
              required
            />
          </div>

          <!-- Role -->
          <div class="form-group">
            <label for="role">Role</label>
            <input
              type="text"
              id="role"
              [(ngModel)]="selectedAgent.role"
              name="role"
              required
            />
          </div>

          <!-- Description -->
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              id="descriptionU"
              [(ngModel)]="selectedAgent.description"
              name="description"
              required
            ></textarea>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" class="submit-btn" [disabled]="isLoading" (click)="saveAgent(editForm)">
        <ng-container *ngIf="!isLoading; else loading">
          Enregister
        </ng-container>
        <ng-template #loading>
          <div class="spinner"></div>
        </ng-template>
      </button>
      <button class="cancel-btn" (click)="cancelEdit()">Annuler</button>
    </div>
  </div>
</div>
